@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

img { 
  width: 45px; height: auto; 
  margin-left: 0.3rem;
}

.footer {
  width: 100vw;
  position: fixed;
  background-color: $light-gray;
  overflow: hidden;
  padding: 1em;
  margin-top: 1rem;
  bottom: 0;
  left: 0;

}

.inner-footer {
  display: block;
  margin: 0 auto;
}

.inner-footer i {
  font-weight: 100;
}
